.footersection {
  background-color: #211f1fb3;
  color: rgb(245, 245, 245);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  height: 40vh;
}

.auth1 {
  color: #5799ef;
  background-color: #222222;
  width: 189px;
  height: 45px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: medium;
}

.auth1:hover {
  color: white;
  background-color: #3b89ed;
  border: transparent;
  cursor: pointer;
}

.icon {
  height: 30px;
  width: 30px;
}

.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
