.App {
  background: rgb(18, 18, 18);
}
.app-box {
  background: rgb(32, 32, 32);
  color: rgb(245, 245, 245);
  font-family: sans-serif;
  width: 80vw;
  margin-left: 10%;
  margin-right: 10%;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .app-box {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }
  :root {
    font-size: 70%;
  }
}
