.before {
  height: 80vh;
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-spinner {
  animation: spin 2s linear infinite;
}

.red {
  color: rgb(187, 16, 16);
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {
  .news_page {
    padding: 3rem;
  }

  .news_head {
    text-align: center;
    font-size: x-large;
  }
}
